---
layout: default
title: Blogs
---
	<br>

	<ul class="posts">
	  {% for post in site.posts %}


	  <li> <a class="post-title" href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}
	  </a></li>
	  <div class="post-teaser"> {{ post.content | split:"<!-- more -->" | first % }} </div>

	  <span>{{ post.date | date_to_string }}</span>   
		
		{% if post.tags != empty %}
        |
        {% for tag in post.tags %}
        <a class="codinfox-tag-mark" href="/blog/tag/#{{ tag | slugify }}">{{ tag }}</a>
        {% endfor %}
        {% endif %}

        <br>
        <hr/>
	  {% endfor %}


	</ul>


