<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	        		<li><a class="header-icons" href="https://www.linkedin.com/in/xiaocongchen/"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i></a></li>
	        		<li><a class="header-icons" href="https://github.com/cxcollie"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->

			<div>
			{% include comments.html %}
			</div>

			<footer>
			</footer>
		</body>
	</html>
